@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    @import "scrollbar.css";
    @import "form-controls.css";
    @import "vue-next-select.css";
}
