.scrollbar-w-2::-webkit-scrollbar {
    @apply w-2
}

.scrollbar-w-2::-webkit-scrollbar-thumb {
    @apply w-2
}

.scrollbar-gray-100::-webkit-scrollbar {
    @apply bg-gray-100
}

.scrollbar-gray-900::-webkit-scrollbar {
    @apply bg-gray-900
}

.scrollbar-thumb-gray-200::-webkit-scrollbar-thumb {
    @apply bg-gray-200
}

.scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
    @apply bg-gray-400
}

.hover\:scrollbar-thumb-gray-300::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
}

.hover\:scrollbar-thumb-gray-500::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}

.scrollbar-thumb-rounded-full::-webkit-scrollbar-thumb {
    @apply rounded-full
}
