.icon.delete {
    @apply flex justify-center items-center p-0 m-0 border-0 bg-none h-2 w-2 cursor-pointer
}

.icon.arrow-downward {
    @apply transition-transform duration-200 -my-2 -mr-1
}

.icon.arrow-downward.active {
    @apply rotate-180
}

.icon.arrow-downward::after {
    @apply cursor-pointer text-lg text-gray-400
}

.icon.arrow-downward::after {
    font-family: 'Material Icons Outlined';
    content: 'expand_more';
}

.vue-select {
    @apply relative py-1.5 px-3 shadow-sm mt-1 block w-full appearance-none text-sm leading-normal
    bg-white border rounded-md border-gray-300
}

.vue-select[aria-disabled='true'] {
    @apply bg-gray-100
}

.vue-select[aria-disabled='true'] * {
    @apply cursor-not-allowed
}

.vue-select[aria-disabled='true'] input {
    @apply cursor-not-allowed
}

.vue-select-header {
    @apply flex w-full items-center justify-between
}

.vue-tags {
    @apply flex flex-wrap m-0 pl-0.5 select-none
}

.vue-tags {
    min-height: calc(1rem + 4px);
}

.vue-tags.collapsed {
    @apply flex-nowrap overflow-auto
}

.vue-tag {
    @apply hidden items-center content-center justify-center list-none rounded m-0.5 text-sm
}

.vue-tag {
    min-height: 1rem;
}

.vue-tag span {
    @apply mr-1
}

.vue-tag.selected {
    @apply flex
}

.vue-tags[data-removable='false'] .vue-tag.selected img:hover {
    @apply cursor-not-allowed
}

.vue-select-input-wrapper {
    @apply relative flex w-full items-center justify-between
}

.vue-input {
    @apply inline-flex items-center rounded border-0 focus:outline-none
    max-w-full min-w-0 w-full box-border text-gray-400
}

.vue-select[aria-expanded='true'] {
    @apply focus-within:ring-2 focus-within:ring-offset-1 ring-primary-600
}

.vue-select[aria-expanded='false'][aria-disabled='false'] .vue-input input, input[readonly] {
    @apply cursor-default
}

.vue-input input {
    @apply border-0 outline-none w-full min-w-0 text-sm p-0 placeholder-black
}

.vue-input input[disabled] {
    @apply bg-gray-100
}

.vue-input input[readonly] {
    background-color: unset;
}

.vue-select-header .vue-input input[disabled] {
    background-color: unset;
}

.vue-dropdown {
    @apply hidden absolute bg-white z-10 overflow-y-auto w-full min-w-0 m-0 p-0
    box-content border border-gray-300 list-none shadow-sm rounded-md
}

.vue-dropdown {
    left: -1px;
}

.vue-select[aria-expanded='true'] .vue-dropdown {
    display: unset;
}

.vue-select .vue-dropdown[data-visible-length='0'] {
    @apply hidden
}

.vue-dropdown-item {
    @apply list-none p-1 cursor-pointer
}

.vue-dropdown-item.highlighted {
    @apply bg-primary-600 text-primary-100
}

.vue-dropdown-item.disabled {
    @apply bg-gray-50 text-gray-400 cursor-not-allowed
}

.vue-dropdown-item.selected {
    @apply bg-primary-50 text-primary-700 font-medium flex justify-between
}

.vue-dropdown-item.selected::after {
    font-family: 'Material Icons Outlined';
    content: 'check';
}

.vue-dropdown-item.selected.highlighted {
    @apply bg-primary-600 text-white
}

.vue-dropdown-item.selected.highlighted::after {
    content: 'close';
}

.vue-dropdown[data-removable='false'] .vue-dropdown-item.selected:hover {
    @apply cursor-not-allowed
}

.vue-dropdown[data-addable='false'][data-multiple='true'] .vue-dropdown-item:not(.selected):hover {
    @apply cursor-not-allowed
}

.icon.loading {
    @apply inline-block relative w-4 h-4
}

.icon.loading div {
    @apply box-border block absolute border border-primary-600 w-4 h-4 rounded-full animate-spin
}

.icon.loading div {
    border-left-color: transparent;
}

.icon.loading div:nth-child(1) {
    animation-delay: -0.08s;
}
.icon.loading div:nth-child(2) {
    animation-delay: -0.16s;
}

.vue-select.direction-top .vue-dropdown {
    bottom: calc(100% + 2px);
}

.vue-select.direction-bottom .vue-dropdown {
    top: calc(100% + 2px);;
}
