/*vue-select overrides*/

.vs__dropdown-toggle {
    min-height: 2.5rem;
    border-color: #d2d6dc;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.vs__dropdown-menu {
    max-height: 105px;
}
